body{
    margin: 0 20px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
a, a:visited, a:active, a:hover{
			    text-decoration:none;
			    color:black;
			}
i{
    margin-right:5px;
    font-size:25px;
}
#preloaders, .header, .panel, .speed, .blocks, .block, .down-btn, .alert, .footer{
    display: flex;
}
#preloaders, .header, .panel, .speed, .blocks, .down-btn, .alert, .footer{
    flex-direction: row;
}
.block, .block-body{
    flex-direction: column;
}
#preloaders, .speed, .blocks, .block, .block-body, .alert{
    justify-content: center;
}
.header, .footer, .panel{
    justify-content: space-between;
}
.title{
    margin-top: 5px;
    margin-bottom: 5px;
}
.title i{
    font-size:40px;
}
#preloaders {
    margin: 0;
}
.lang label:hover{
    text-decoration:underline;
    cursor:pointer;
}
.header, .panel, .speed, .blocks, .footer{
    align-items: center;
}
.panel, .speed, .blocks{
    padding-top: 10px;
}
.left, .right{
    display:flex;
    flex-direction:row;
    margin-left: 15px;
    margin-right: 15px;
}
.btn{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color: hsl(210,9%,94%);
    font-size: 14px;
    padding: 5px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: hsl(210,9%,94%);
    width:90px;
    height:25px;
    margin: 0 5px;
}
.ipt{
    border: 1px solid transparent;
    border-radius: 3px;
    border-color: #ccc;
    width: 30vw;
    padding: 6.5px;
    margin-right:10px;
}
.blocks{
    position:relative;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 49.5%;
    overflow: hidden;
    word-wrap: break-word;
    position:absolute;
    top: 10px;
    bottom: -50vh;
    box-shadow: 0 4px 6px 0 hsla(0,0%,0%,0.2);
}
.block-head{
    background-color: hsl(210,9%,94%);
    text-align: center;
    padding: 5px;
}
.block-body{
    padding: 10px;
    overflow:auto;
}
.footer{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    padding: 10px;
}
.footer .left, .footer .right{
    width:300px;
}
.footer .right{
    justify-content:flex-end;
}
.footer img{
    padding-top: 5px;
    width: 20px;
    height: 20px;
}
.alert{
    position: absolute;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 10px;
    right: 10px;
    border-radius:10px 10px;
    z-index: 1;
    color:white;
}
.alert-success{
    background-color: rgba(62,191,50,0.9);
}
.alert-warning{
    background-color: rgba(239,206,25,0.9);
}
#file-upload{
    display: none;
}
