<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/logo.png" type="image/png">
  <title>lofiTorrent - Browser torrent client</title>
</head>
<body>
  <div class="header">
    <div class="left">
      <a href="index.html">
        <h1 class="title">lofiTorrent&nbsp;<i class="ion-ios-infinite-outline"></i></h1>
      </a>
    </div>
    <div class="right">
      Online and offline browser torrent client
    </div>
  </div>
  <div id="main">
    <div id="preloaders" v-if="loader">
      <img src="img/preloader.gif">
    </div>
    <div class="panel" v-show="main" style="display: none;">
      <div class="left">
        <input id="file-upload" type="file" @change="upload($event)">
        <label class="btn" for="file-upload">Seed File</label>
      </div>
      <div class="right">
        <input class="ipt" type="text" placeholder="Magnet URL" v-model="magnetUrlDown">
        <input class="btn" type="button" value="Download" @click="download">
      </div>
    </div>
    <div class="speed" v-show="main" style="display: none;">
      Statistics:
      [Up&nbsp;<i class="ion-ios-arrow-thin-up"></i>{{upSpeed/1000}}&nbsp;kB/sec]&nbsp;[Down&nbsp;<i class="ion-ios-arrow-thin-down"></i>{{downSpeed/1000}}&nbsp;kB/sec]
    </div>
    <div class="blocks" v-show="main" style="display: none;">
      <div class="block" style="left:0;">
        <div class="block-head">Seeding</div>
        <div class="block-body">
          <div v-if="UpVis">
            <p>File name:{{fileNameUp}}</p>
            <p>{{hashUp}}</p>
            <br>
            <p><a :href="magnetUp">[Magnet link]</a></p>
            <p><a :href="torrentFileUp" :download="fileNameTDown">[Torrent file]</a></p>
          </div>
        </div>
      </div>
      <div class="block" style="right:0;">
        <div class="block-head">Downloading</div>
        <div class="block-body" >
          <div v-if="DownVis">
            <p>{{fileNameDown}}</p>
            <p>{{hashDown}}</p>
            <br>
            <p><a :href="fileUrlDown" :download="fileNameDown">[Download {{fileNameDown}}]</a></p>
          </div>
        </div>
      </div>
    </div>
    <div v-show="main" style="display: none;">
      <div class="alert alert-success" role="alert" v-show="statusVisSuc">{{status}}</div>
      <div class="alert alert-warning" role="alert" v-show="statusVisWar">{{status}}</div>
    </div>
  </div>
  <div class="footer">
    <div class="left">
      <a href="https://github.com/deadblackclover" target="_blank"><i class="ion-social-github"></i>&nbsp;DEADBLACKCLOVER</a>
    </div>
    <div class="right">
      <a href="http://js.org" target="_blank" title="JS.ORG | JavaScript Community">
      <img src="http://logo.js.org/dark_horz.png" width="102" alt="JS.ORG Logo" style="width:40px;" /></a>
      <!-- alternatives [bright|dark]_[horz|vert|tiny].png (width[horz:102,vert:50,tiny:77]) -->
      <a href="https://webtorrent.io/" target="_blank"><img src="https://webtorrent.io/img/webtorrent-small.png"></a>
      <a href="https://vuejs.org/" target="_blank"><img src="https://vuejs.org/images/logo.png"></a>
    </div>
  </div>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
