body{
  margin: 0;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
a,a:visited,a:active,a:hover{
	text-decoration:none;
	color:black;
}
#preloaders, .header, .panel, .speed, .blocks, .block, .alert, .footer{
  display: flex;
}
#preloaders, .header, .panel, .speed, .blocks, .alert, .footer{
  flex-direction: row;
}
.block, .block-body{
  flex-direction: column;
}
#preloaders, .panel, .speed, .blocks, .block, .block-body, .alert{
  justify-content: center;
}
.header, .footer{
  justify-content: space-between;
}
#preloaders {
  margin: 0;
}
.header, .panel, .speed, .blocks, .footer{
  align-items: center;
  width: 100%;
}
.panel, .speed, .blocks{
  padding-top: 10px;
}
.left, .right{
  margin-left: 15px;
  margin-right: 15px;
}
.header, .footer{
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.btn{
  background-color: #fff;
  font-size: 14px;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ccc;
}
.ipt{
  border: 1px solid transparent;
  border-radius: 3px;
  border-color: #ccc;
  width: 30vw;
}
.block{
  align-self: flex-start;
  width: 50%;
  height: 40%;
  border: 1px solid transparent;
  border-color: #ccc;
  overflow: hidden;
}
.block-head, .block-body{
  padding: 5px;
}
.block-head{
  background-color: #ddd;
  border-bottom: 1px solid transparent;
  border-color: #ccc;
  text-align: center;
}
.footer{
  position: absolute;
  bottom: 0;
}
.footer img{
  padding-top: 5px;
  width: 20px;
  height: 20px;
}
.alert{
  position: absolute;
  height: 7%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  z-index: 1;
}
.alert-success{
  background-color: rgba(62,191,50,0.8);
}
.alert-warning{
  background-color: rgba(239,206,25,0.8);
}
#file-upload{
  display: none;
}
